USR="username"
PASS="password"
USRREP="username"
PASSREP="password"
AWSPROFILE="default"
DBINSTANCE="instance1"
DBSNAPSHOT="snapshot-instance1"
DBINSTANCENEW="instance2"
OPTIONGROUP="default:mysql-5-7"
PARAMGROUP="dbparam"
PARAMGROUP2="dbparam2"
PARAMGROUP4="dbparam4"
DBCLASS="db.m5.large"
DBCLASS2="db.m5.xlarge"
DBCLASS4="db.m5.2xlarge"
MASTERLOGFILE=""
MASTERLOGPOS=""
